/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: #333; /* Fondo gris */
    color: #fff; /* Texto en blanco */
    display: flex;
    align-items: center;
    padding: 10px;
}

.top-bar img {
    width: 20px;
    margin-right: 10px;
}

.top-bar span {
    font-size: 18px;
}